@import "../../bulma/bulma.scss";

.section-wrapper {
 width: 100%;
 margin: 7.5rem auto 0;
 max-width: 75rem;
 padding-bottom: 7.5rem;

 @include mobile {
  margin: 0 auto;
  padding-bottom: 3.75rem;
 }

 @include tablet-only {
  margin: 0 auto;
  padding-bottom: 3.75rem;
 }

 .section-inner-wrapper {
  width: 100%;
  margin: auto;
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  .progress-container {
   position: absolute;
   top: 0;
   left: calc(50% - 2px);
   width: 0.25rem;
   height: 100%;
   background-color: rgb(240, 241, 242);

   .progress-bar {
    width: 100%;
    border-radius: 2px;
    background-color: rgb(26, 125, 255);
    transition: height 500ms ease-out 0s;
    transform: translate3d(0, 0, 0);
    will-change: height;
    height: 8rem;
    max-height: 100%;

    @include tablet-only {
     height: 12.25rem;
    }
   }
  }

  @include mobile {
   padding: 1.5625rem 1.5rem 0 1.5rem;

   .progress-container {
    left: 2rem;
   }
  }

  @include tablet-only {
   padding: 3.75rem 1.5rem 0 1.5rem;

   .progress-container {
    left: 2rem;
   }
  }

  .progress-indicator-bubble {
   position: absolute;
   top: 50%;
   left: calc(50% - 0.656rem);
   width: 1.3125rem;
   height: 1.3125rem;
   transition: border-color 200ms linear 300ms;
   border-radius: 1.3125rem;
   background-color: rgb(255, 255, 255);
   border: 0.25rem solid rgb(240, 241, 242);

   &.active {
    border: 0.25rem solid rgb(26, 125, 255);
   }

   &.first-child {
    border: 0.25rem solid rgb(26, 125, 255);
    top: 0;
   }

   &.last-child {
    top: calc(100% - 2px);
   }
  }

  .story-section {
   padding: 0;
   position: relative;
   place-content: center space-between;
   backface-visibility: hidden;
   transform: translate3d(0px, 0px, 0px);
   display: flex;

   &:nth-child(even) {
    flex-direction: row-reverse;
   }

   @include tablet-only {
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 3rem;
    flex-direction: column-reverse !important;

    .progress-indicator-bubble {
     left: 0;
    }
   }

   @include mobile {
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 2.8125rem;
    flex-direction: column-reverse !important;

    .progress-indicator-bubble {
     left: 0;
    }
   }

   .story-image {
    width: calc(50% - 3.125rem);
    height: 23rem;
    margin: 7.5rem 0;
    border-radius: 0.75rem;

    .picture {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center center;
     opacity: 1;
     transition: opacity 500ms ease 0s;
    }

    @include mobile {
     width: 14.5rem;
     height: 14.5rem;
     margin: 0 0 2.1875rem;
    }

    @include tablet-only {
     width: 90%;
     margin: 0 4.375rem 2.1875rem 0;
     order: 1;
    }
   }

   .story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 3.125rem);

    @include mobile {
     width: 100%;
     margin-bottom: 6.875rem;

     > p {
      &:first-child {
       font-size: 0.75rem;
       line-height: 0.75rem;
       margin-bottom: 0.625rem;
      }

      &:nth-child(2) {
       line-height: 2.25rem;
       margin-bottom: 1.5625rem;
      }
     }
    }

    @include tablet-only {
     width: 100%;
     margin-bottom: 6.875rem;

     > p {
      &:first-child {
       font-size: 0.875rem;
       line-height: 0.875rem;
       margin-bottom: 0.625rem;
      }

      &:nth-child(2) {
       line-height: 3.125rem;
       margin-bottom: 1.5625rem;
      }
     }
    }
   }
  }

  .text-section {
   line-height: 0.1625rem;
   letter-spacing: 0.16px;
   margin: 0;

   > span.main-text {
    margin-bottom: 1.6rem;

    &:last-child {
     margin: 0;
    }
   }
  }

  .story-image {
   width: 31.25rem;
   height: 23rem;
   order: 1;
   border-radius: 0.75rem;
   position: relative;
   overflow: hidden;
  }
 }
}
